@import url("https://fonts.googleapis.com/css2?family=Junge&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.tabPanel {
    -webkit-box-shadow: 0px 1px 14px 1px rgba(204, 153, 204, 1);
    -moz-box-shadow: 0px 1px 14px 1px rgba(204, 153, 204, 1);
    box-shadow: 0px 1px 14px 1px rgba(204, 153, 204, 1);
}

body {
    font-family: "Junge", cursive;
    font-weight: 400;
    font-style: normal;
}

.bg {
    background: hsla(233, 100%, 90%, 1);
    background: linear-gradient(90deg, hsla(233, 100%, 90%, 1) 0%, hsla(0, 0%, 89%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(233, 100%, 90%, 1) 0%, hsla(0, 0%, 89%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(233, 100%, 90%, 1) 0%, hsla(0, 0%, 89%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#CAD0FF", endColorstr="#E3E3E3", GradientType=1 );
}

.truncate-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Number of lines to display */
    -webkit-box-orient: vertical;
}

.wrapper {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}
.wrapper .circle {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    background-color: #1c1e1c;
    margin: auto;
    transform: scale(1, 1);
}
.wrapper .circle.pulse {
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation: pulse 2s infinite;
    animation: pulse 2s infinite;
    background-color: #99e699;
}
.wrapper svg {
    fill: #279b27;
    stroke: #279b27;
    stroke-linejoin: round;
    stroke-width: 5;
    transition: all 0.3s;
}
.wrapper svg:hover {
    cursor: pointer;
    fill: #228722;
    stroke: #228722;
    transform: scale(1.2, 1.2);
}

@-webkit-keyframes pulse {
    0% {
        transform: scale(1, 1);
    }
    25% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.2, 1.2);
    }
    100% {
        transform: scale(1, 1);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1, 1);
    }
    25% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.2, 1.2);
    }
    100% {
        transform: scale(1, 1);
    }
}
